version: "3.9"

services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: root
      POSTGRES_DB: sms
    ports:
      - "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql

  pgadmin:
    image: elestio/pgadmin
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@gmail.com"
      PGADMIN_DEFAULT_PASSWORD: "root"
      PGADMIN_LISTEN_PORT: "8080"
    ports:
      - "8080:8080"
    depends_on:
      - postgres

volumes:
  postgres:
